<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div class="form-article">
        <%= render "form", article: @article %>
      </div>
    </div>
  </div>
</div>


